/* start main rules */
body {
  background-color: #f4f4f4;
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  margin: 40px 0;
  font-weight: bold;
  color: #666;
}

.input-container {
  position: relative;
}

.astrisk {
  color: #e82e2e;
  position: absolute;
  right: 15px;
  top: 6px;
  font-size: 25px;
}

.main-form .astrisk {
  color: #6e0397;
  position: absolute;
  right: 30px;
  top: 6px;
  font-size: 25px;
}
.custom-hr {
  border-top: 2px solid #c5c5c5;
}

/* end main rules */
/* start bootstrap edits */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 1em;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.dropdown-menu {
  background-color: #3498db;
}

.dropdown-menu {
  min-width: 12rem;
  padding: 0;
  font-size: 1em;
  border: none;
}

.dropdown-item {
  color: #fff;
  padding: .5rem 1.5rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #9b59b6;
}

.form-control {
  position: relative;
}

/* end bootstrap edits */
/* start header */
.upper-bar span img {
  width: 40px;
  display: inline-block;
}

/* end header */
/* start login page */
.login-page form {
  max-width: 400px;
  margin: auto;
}

.login-page form input {
  margin-bottom: 10px;
}

.login-page [data-class="login"].selected {
  color: #007bff
}

.login-page [data-class="signup"].selected {
  color: #28a745
}

.login-page h1 {
  color: #969696;
}

.login-page h1 span {
  cursor: pointer;
}

.login-page .signup {
  display: none;
}

.login-page .message {
  max-width: 40px;
  margin: auto;
}

/* end login page */
/* start Home page */
.home {
  margin-top: 30px;
}
/* end Home page */
/* start categories page */
.item-box {
  position: relative;
  margin-bottom: 20px;
  color: #333;
}

.item-box .price {
  position: absolute;
  padding: 5px 10px;
  background-color: #5f625f;
  color: #fff;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 10px;
  left: 0;
}
.item-box .non-approve {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #c20000;
  color: #fff;
  padding: 3px 10px;
}
.item-box .card-text {
  height: 50px;
  max-height: 50px;
}
.item-box .date {
  display: block;
  padding: 10px 0;
  color: #7f7f7f;
}
/* end categories page */
/* start profile page  */
.block {
  margin: 10px 0;
  .list-group-item {
    color: #333;
    padding: 10px;
    span {
      display: inline-block;
      width: 150px;
    }
  }
  .btn {
    margin-top: 10px;
  }
}



/* end profile page  */
/* start item details page  */
.info ul li:nth-child(odd){
  background-color: #dbdbdb;
}
.info ul li span {
  display: inline-block;
  width: 150px;
}

.add-comment h3{
  margin: 0 0 10px;
}
.add-comment textarea {
  display: block;
  width: 500px ;
  height: 120px;
  margin-bottom: 10px;
}
.comment-box {
  margin-bottom: 20px;
}
.comment-box img {
  max-width: 100px;
  display: block;
  margin-bottom: 10px;
}
.comment-box .lead {
  background-color: #dbdbdb;
  position: relative;
  padding: 10px;
}
.comment-box .lead::before{
  content: "";
  width: 0;
  height: 0;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #dbdbdb transparent transparent;
  position: absolute;
  top: 10px;
  left: -30px;
}
/* end item details page  */